.productWrapper {
  margin: 100px auto;
  width: 80%;
  display: flex;
  gap: 40px;
}

.productWrapper img {
  border-radius: 12px;
  width: 500px;
  height: 350px;
}

.prodName {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.price {
  font-size: 32px;
  font-weight: 700;
  margin: 20px 0;
}

.price span {
  font-size: 20px;
  color: #999;
}

.counter {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.count {
  margin: auto 0;
}

.incrementBtn {
  margin: 0 5px;
  padding: 3px 8px;
  background-color: orange;
  color: #fff;
  border-radius: 4px;
}

.decrementBtn {
  margin: 0 5px;
  padding: 3px 10px;
  background-color: orange;
  color: #fff;
  border-radius: 4px;
}

@media (max-width: 760px) {
  .maketBg {
    width: 100%;
  }
  .productWrapper {
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
  }
}
