.bg {
  margin-top: 100px;
  background-image: url('../../../images/Rectangle\ 30bg_for_booked.png');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.form {
  text-align: center;
  width: 450px;
  margin-top: 220px;
  padding: 40px;
  background-color: #333333;
  border-radius: 12px;
}

.form h2 {
  font-style: 25px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
}

.formWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 100%;
  padding: 12px;
  color: #fff;
  border: 1px solid #999;
  background-color: #333333;
  margin-bottom: 20px;
}
